# Build and jAR files
/target/
/build/

# Logs
*.logs


# IDE
.idea/
*.iml
*.ipr
*.iws
*.idea/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/resources/photos
/resources/temp_photos/*

#Sensetive data
#application.properties
