# Build and JAR files
/target/
/build/

# Mac store files
*../.DS_Store

# Logs
*.log

# IDE files and configurations
../.idea
.idea/
*.iml
*.ipr
*.iws

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources.local.xml

# Ignoring photos and temporary photos directories
/src/main/resources/photos/
/src/main/resources/temp_photos/

# Sensitive data
.env
src/main/resources/application.properties
